VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
RESEND_API_KEY=
EMAIL_FROM=ZXMAX <noreply@seudominio.com>
SITE_URL=https://seusite.vercel.app
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
EVOPAY_API_KEY=
